[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "build/extern/benchmark"]
	path = build/extern/benchmark
	url = https://github.com/google/benchmark.git
